<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<%- include('partials/title') %>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form>
				<input class="form-control mt-4" type="text" id="title" name="title" value="" placeholder="Título">
				<br><br>
				<textarea class="form-control" id="description" name="description" value="" placeholder="Descripción"></textarea>
				<br><br>
				<label class="labula">Agregar imagen</label>
				<input class="form-control" type="file" id="myfile" name="myfile" accept="image/png, image/jpeg">
				<br><br>
				<div class="row">
					<img style="height: 15em; width: 15em;" src="/images/default-image.png"/>
				</div> 
				<button class="btn mt-5" type="submit" name="">Agregar</button>
			</form>
		</div>
	</div>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>