<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title><%=title%></title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->	
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
				<form class="input-sign" action="/user/register" method="POST" enctype="multipart/form-data" id="form">
						<input type="text" placeholder="Nombre" name="name" id="">
						<br><br>
						<input type="text" placeholder="Usuario" name="username" id="">
						<br><br>
						<input type="email" placeholder="Correo electrónico" name="mail" id="">
						<br><br>
						<input type="date" min='1899-01-01' max='2005-01-01' placeholder="Fecha de nacimiento" name="birthday" id="">
						<br><br>
						<input name="profilePic" type="file" id="" >
						<br><br>
						<input type="password" placeholder="Contraseña" name="password" id="">
						<br><br>

					<button id="boton" type="submit" name="register-button" id="register-button">Register</button>
				</form>
				<br><br><br>
			<a href="/user/login" class="avisos">¿Ya tenes una cuenta? Ingresa aca</a>
			</div>
		</div>
	</div>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>