<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title><%- title %></title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
				<form>
					Nombre: <input type="text" id="nombre">
					<br><br>
					Apellido: <input type="text" id="apellido">
					<br><br>
					Correo Electrónico: <input type="text" id="email">
					<br><br>
					Usuario: <input type="text" id="username">
					<br><br>
					Crear Contraseña: <input type="password" id="password">
					<br><br>
					Repetir Contraseña <input type="password" id="password">
					<br><br> 
				</form>
				<button type="submit" name="">Crear</button>
			</div>
		

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>